/************** genereal ***************/

:root {
  --green-col: #737159;
  --white-col: whitesmoke;
  --regular-white-col: white;
  --general-font: "PT Sans Narrow", sans-serif;
}

body {
  background-color: var(--white-col);
  cursor: none;
  margin: 10px auto;
  max-width: 1400px;
}

.cursor {
  width: 20px;
  height: 20px;
  background-color: #e6e6e6;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  /* musen tilpasser sig når den føres over indhold*/
  mix-blend-mode: difference;
  z-index: 2;
}

h2,
p {
  font-family: var(--general-font);
}

/**************** header ***************/

h1 {
  font-family: var(--general-font);
  font-size: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.intro p {
  font-size: 20px;
}

/************** header placement ***************/

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.portrait_container,
.intro_txt {
  grid-row: 1/2;
}

.portrait_container {
  grid-column: 2/3;
  background-color: var(--green-col);
}

.portrait {
  margin: 0px;
  width: 800px;
}

.intro_txt {
  grid-column: 1/-1;
  z-index: 1;
}

.intro_txt p {
  width: 35rem;
}

/*************** about placement **************/

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.imgplaceholder,
.about_welcome {
  grid-row: 1/2;
}

.about_welcome {
  grid-column: 2/3;
  z-index: 1;
}

.imgplaceholder {
  grid-column: 1/-1;
  width: 800px;
}

/*********** about ***************/

.welcome {
  font-size: 120px;
  margin: 0px;
  font-family: var(--general-font);
}

.welcome_txt {
  width: 35rem;
  padding-left: 7rem;
  font-size: 20px;
}

.about {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--white-col);
  margin-bottom: 10rem;
}

.imgplaceholder {
  background-color: var(--white-col);
  align-self: end;
}

.welcome_img {
  text-align: center;
}

/************** footer ****************/

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--green-col);
  padding: 2rem;
  margin: 10px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--white-col);
  margin-top: 10rem;
}

.links {
  justify-self: end;
  align-self: end;
}

/************* animations ****************/

.from-left {
  transition: opacity 1s ease-in-out, transform 1s ease;
  opacity: 0;
}
.from-left {
  transform: translateY(50%);
}

.from-left.appear {
  transform: translateY(0);
  opacity: 1;
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/************* collapsible **************/

.collapsible_container h2 {
  font-size: 120px;
  margin-bottom: 2rem;
}

.collapsible_container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.collapsible_container button {
  font-size: 24px;
}

.collapsible {
  font-family: var(--general-font);
  background-color: var(--green-col);
  color: var(--white-col);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  cursor: none;
  margin-bottom: 1px;
}

.active,
.collapsible:hover {
  background-color: var(--regular-white-col);
  color: black;
}

.content {
  padding: 0 18px;
  background-color: var(--regular-white-col);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 20px;
}

.ex_link {
  opacity: 0.8;
  padding-bottom: 10px;
  cursor: none;
}

.ex_link img {
  box-shadow: var(--green-col) 10px 5px 5px;
  padding-left: 10px;
}

.ex_link:hover {
  opacity: 1;
}

/************* mobile tilpasninger **************/

@media (max-width: 1100px) {
  .cursor {
    display: none;
  }

  /************* header **************/

  .intro {
    display: grid;
    grid-template-columns: 1fr;
  }

  .portrait_container {
    grid-column: 1;
    grid-row: 1;
    width: auto;
  }

  .portrait {
    margin: 0px;
    width: 20rem;
  }

  .intro_txt {
    grid-column: 1;
    grid-row: 2/3;
    z-index: 1;
  }

  h1 {
    font-size: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
  }

  .intro p {
    font-size: 20px;
    padding-left: 10px;
    padding-left: 10px;
    width: auto;
  }

  /************* about **************/

  .about {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .about_welcome {
    grid-column: 1;
    grid-row: 2;
    z-index: 1;
  }

  .imgplaceholder {
    grid-column: 1;
    grid-row: 1;
    width: auto;
    margin-top: 2rem;
  }

  .welcome {
    font-size: 60px;
    padding-left: 10px;
  }

  .welcome_txt {
    padding-left: 10px;
    width: auto;
    font-size: 20px;
  }

  .welcome_img {
    margin-bottom: 2rem;
    width: 20rem;
  }

  /************* collapsible **************/

  .collapsible_container {
    margin-left: 0;
    margin-bottom: 0;
  }

  .collapsible_container h2 {
    font-size: 60px;
    margin-left: 10px;
  }

  .collapsible_container button {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .ex_link {
    opacity: 1;
    padding-bottom: 10px;
  }

  .ex_link img {
    width: 15rem;
  }

  /************* footer **************/

  footer {
    margin-top: 5rem;
  }
}
