:root {
  --green-col: #737159;
  --white-col: whitesmoke;
  --regular-white-col: white;
  --general-font: "PT Sans Narrow", sans-serif;
}

body {
  background-color: var(--white-col);
  cursor: none;
  margin: 10px auto;
  max-width: 1400px;
}

.cursor {
  width: 20px;
  height: 20px;
  background-color: #e6e6e6;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  /* musen tilpasser sig når den føres over indhold*/
  mix-blend-mode: difference;
  z-index: 2;
}

h1 {
  /* font-family: "Gloock", serif; */
  font-family: var(--general-font);
  font-size: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

header p {
  font-family: var(--general-font);
  font-size: 20px;
  /* border: solid 1px black;
  border-radius: 50%; */
}

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.portrait_container,
.intro_txt {
  grid-row: 1/2;
}

.portrait_container {
  grid-column: 2/3;
  /* width: 800px; */

  background-color: var(--green-col);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portrait {
  margin: 0px;
  width: 800px;
}

.intro_txt {
  grid-column: 1/-1;
  z-index: 1;
}

.intro_txt p {
  width: 35rem;
}

h2,
p {
  font-family: var(--general-font);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.imgplaceholder,
.about_welcome {
  grid-row: 1/2;
}

.about_welcome {
  grid-column: 2/3;
  z-index: 1;
}

.imgplaceholder {
  grid-column: 1/-1;
  width: 800px;
}

.welcome {
  font-size: 120px;
  margin: 0px;
  font-family: var(--general-font);
}

.welcome_txt {
  width: 35rem;
}

.about {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--white-col);
  margin-bottom: 10rem;
}

.imgplaceholder {
  background-color: var(--white-col);
}

.lottie {
  text-align: center;
}

.welcome_txt {
  padding-left: 7rem;
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--green-col);
  padding: 2rem;
  margin: 10px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--white-col);
  margin-top: 10rem;
}

.links {
  justify-self: end;
  align-self: end;
}

.from-left {
  transition: opacity 1s ease-in-out, transform 1s ease;
  opacity: 0;
}
.from-left {
  transform: translateY(50%);
}

.from-left.appear {
  transform: translateY(0);
  opacity: 1;
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*collapsible*/

.collapsible_container h2 {
  font-size: 120px;
  margin-bottom: 2rem;
}

.collapsible_container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.collapsible_container button {
  font-size: 1.2rem;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  font-family: var(--general-font);
  background-color: var(--green-col);
  color: var(--white-col);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  cursor: none;
  margin-bottom: 1px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: var(--regular-white-col);
  color: black;
}

/* Style the collapsible content. Note: hidden by default */

.content {
  font-family: var(--general-font);
  padding: 0 18px;
  background-color: var(--regular-white-col);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ex_link {
  opacity: 0.8;
  padding-bottom: 10px;
}

.ex_link img {
  box-shadow: var(--green-col) 10px 5px 5px;
  padding-left: 10px;
}

.ex_link:hover {
  opacity: 1;
}
